
.container {
    position: relative;
    width: 50%;
    margin: 10px 700px;
  }


#videobox_scroll{
    width:400px; 
    height: 200px; 
    background-color: transparent; 
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    flex-grow: 0;
}

#videobox{
  width:310px; 
  height: 150px; 
  background-color: transparent; 
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
  flex-grow: 0;

}

  .circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: transparent;
    text-align: center;
    color: white;
    transform: scale(1);
    transition: opacity 0.4s, transform 0.4s;
  }

  .circle :hover{
    transform: scale(1.2);
  }

  .flexbox-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    background-color: red;
}

#ikon a:hover {
    color: black;
    background-color: white;
    border-radius: 8px;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  column-gap: 10px;

  .card {
    flex: 0 0 auto;
  }
}

.scrolling-wrapper-flexbox-big {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  column-gap: 75px;
  height: 250px;

  .card {
    flex: 0 0 auto;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.init{
  transform: scale(1.20);
  transition: opacity 0.4s, transform 0.4s;
}

.init:hover{
  transform: scale(1.03);
}

.topic-box{
  object-fit: cover; 
  border-radius: 8px; 
  width: 200px; 
  height: 150px; 
  position: relative; 
  top: 30px; 
  left: 75px; 
  cursor: pointer;
}

.main_video{
  object-fit: cover; 
  border-radius: 8px; 
  width: 250px; 
  height: 150px; 
  position: relative; 
  top: 30px; 
  left: 75px; 
  cursor: pointer;
}

.sub-circle{
  object-fit: cover; 
  border-radius: 25px; 
  height: 25px; 
  width: 25px; 
  cursor: pointer
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: transparent;
	color: lightgreen;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
  border-radius: 8px;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}

.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: transparent;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: transparent;
	color: lightgreen;
}

.mglass {
	display: inline-block;
  scale: 1.5;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}