h1 {
    color: #36454F;
    font-size: 50 px;
    text-align: center;
}

body {
  background: linear-gradient(109.6deg, rgb(214, 231, 217) 0%, rgb(167, 225, 170) 20%, rgb(81, 113, 77) 80%);
  min-height: 100%;
  font-family: "Jost", sans-serif;
  min-height: 100vh; /* Use viewport height instead of height */
  width: 100%;
  overflow: hidden; /* Prevent content overflow */
}

footer{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.pwicon{
  padding-right: 25px;
  font-family: "FontAwesome";
  content: "/f070"
}

.nav-item a{
  font-size: 20px;
}


.container {
    position: relative;
    width: 50%;
    margin: 10px 700px;
  }

.flexbox-item {
  height: 400px;
	margin: 100px;
	background-color: transparent;
  justify-content: center;
  color: white;
  /* margin-left: 50px; */
}

.iframestyle {
  border-radius:50px;
  margin-top: 10px;
  filter: drop-shadow(0px 0px 30px rgb(255, 255, 255));


}

.iframe-container {
  justify-content: center;
  display:flex
}

.flexbox-image-login{
  height: 600px;
  width: 600px;
  max-width: 600px;
  max-height: 600px;
}

.login-array{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: transparent;
  color: white;
  width: 500px;
  height: 400px;
  max-width: 500px;
  max-height: 400px;
  margin-top: -80px;
  /* box-shadow: 0px 0px 5px 5px rgb(253, 253, 253); */
}

.directions{
  margin-left: 50px;
}
.flexbox-login-array{
  width: 500px;
  height: 100px;
  margin-bottom: 400px;
  max-width: 500px;
  max-height: 100px;
}


.flexbox-container{
  display: flex;
  flex-direction: row; /* Change to column to center vertically */
  justify-content: center;
  align-items: center;
  height: 80vh; /* Set to 100% of the viewport height for vertical centering */
}

.custom-navbar {
  /* background-color: #f6f1e9; Replace with your desired color code or name */
  background: linear-gradient(109.6deg, rgb(214, 231, 217) 0%, rgb(167, 225, 170) 20%, rgb(122, 147, 119) 80%);
  color: white; /* Text color */
}

.custom-navbar .navbar-toggler-icon {
  color: white; /* Toggler icon color */
}

.mailInput::placeholder::before,
.passwordInput::placeholder::before {
  content: '\00a0'; /* Add a non-breaking space to create space for the icon */
}

.mailInput::placeholder::before {
  content: '\f0e0'; /* Unicode for an email icon (✉) */
}

.passwordInput::placeholder::before {
  content: '\f023'; /* Unicode for a lock icon () */
}

.custom-navbar .nav-link {
  color: white; /* Link text color */
}

.login-array{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: transparent;
  color: white;
  width: 500px;
  height: 400px;
  max-width: 500px;
  max-height: 400px;
  /* box-shadow: 0px 0px 5px 5px rgb(253, 253, 253); */
}


.logo {
  height: 600px;
  width: 600px;
  max-width: 600px;
  max-height: 600px;
}

.Input{

  font-weight: bold; /* Make the font bold */
  font-size: 1.2rem; /* Set the font size */
  padding: 10px; /* Add padding for spacing */
  border: none; /* Remove the border */
  background-color: transparent ; /* Set the background color */
  text-align: center;
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  color: white;
  justify-content: left;
}

.hidden{
  color: transparent
}


::placeholder {
  color: white;
}
.loginButton{
  border-radius: 8px;
  border-color: white;
  height: 40px;
  width: 100%;
  width: 100%;
  background-color: #ffffff;;
  color: rgb(29, 113, 37);
  font-weight: bold;
  margin-bottom: 10px;
}

.passwordInput{
  font-weight: bold; /* Make the font bold */
  font-size: 1.2rem; /* Set the font size */
  padding: 10px; /* Add padding for spacing */
  border: none; /* Remove the border */
  background-color: transparent ; /* Set the background color#d7ecff; */
  text-align: center;
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  color: white;
}

.input-label {
  position: relative;
  width: 100%;
}

.input-label i {
  position: absolute;
  left: 10px; /* Adjust the left position as needed */
  top: 35%; /* Center the icon vertically */
  line-height: 0px; /* Match the line-height to the input height */
  color: rgb(255, 255, 255); /* Set the color of the icon */
  font-size: 20px; /* Set the size of the icon */
}

.showPassword{
    height: 20px;
    width: 20px;
    position:relative;
    top: 5px;
    margin-bottom: 20px;
}

  .circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: transparent;
    text-align: center;
    color: white;
    transform: scale(1);
    transition: opacity 0.4s, transform 0.4s;
  }

  .circle :hover{
    transform: scale(1.2);
  }

.ikon{
  color: whitesmoke; 
  cursor: pointer
}

#ikon a:hover {
    color: black;
    background-color: white;
    border-radius: 8px;
}

.welcomeHeader{
  font-size: 2pc;
  font-weight: bold;
  padding-bottom: 20px;
  
}


.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  column-gap: 10px;

  .card {
    flex: 0 0 auto;
  }
}

.scrolling-wrapper-flexbox-big {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  column-gap: 75px;
  height: 250px;

  .card {
    flex: 0 0 auto;
  }
}


.init{
  transform: scale(1.20);
  transition: opacity 0.4s, transform 0.4s;
}

.init:hover{
  transform: scale(1.03);
}

.topic-box{
  object-fit: cover; 
  border-radius: 8px; 
  width: 200px; 
  height: 150px; 
  position: relative; 
  top: 30px; 
  left: 75px; 
  cursor: pointer;
}

.main_video{
  object-fit: cover; 
  border-radius: 8px; 
  width: 250px; 
  height: 150px; 
  position: relative; 
  top: 30px; 
  left: 75px; 
  cursor: pointer;
}

.sub-circle{
  object-fit: cover; 
  border-radius: 25px; 
  height: 25px; 
  width: 25px; 
  cursor: pointer
}

.whiteLink{
  color: white;
  font-weight: bold;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: transparent;
	color: lightgreen;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
  border-radius: 8px;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}

.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: transparent;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: transparent;
	color: lightgreen;
}

.mglass {
	display: inline-block;
  scale: 1.5;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}